body {
  color: var(--text);
  background-color: var(--bg);
  font-size: 1.15rem;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr min(55rem, 90%) 1fr;
  margin: 0;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */ 
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #2b2b2b; /* Set a background color */
  color: #dedede; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  border-color: #dedede;
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

contents {
  width: auto;
  border: 1px solid #dedede;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
}